
   
   <div>
    <h1>Favorite Tickets</h1>  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets"> 
          <td>{{ ticket.favorite }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.details }}</td>
          <td>
            <button [routerLink]="['/tickets', ticket.idTicket]">View</button>  
            <button [routerLink]="['/update-ticket', ticket.idTicket]">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
   
   
   
  