<div>
    <h1>Ticket List</h1>  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.idTicket }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.details }}</td>
          <td>
            <button [routerLink]="['/tickets', ticket.idTicket]">View</button>  
            <button [routerLink]="['/update-ticket', ticket.idTicket]">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>
  <button routerLink="/add-ticket">Create a ticket</button>
  <p></p>
  <button routerLink="/get-favorites">See bookmarked tickets</button>
  </div>