<div>
    <h1>{{ isEditing ? 'Edit Ticket' : 'Add New Ticket' }}</h1>  
    <form (ngSubmit)="updateTicket()">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="Title" [(ngModel)]="ticket.title" required />
      </div>
      <div>
        <label for="details">Details</label>
        <textarea id="text" name="details" [(ngModel)]="ticket.details" ></textarea>
      </div>
      <div>
        <label for="createdBy">Submitted by</label>
        <input type="text" id="createdBy" name="createdBy" [(ngModel)]="ticket.createdBy" />
      </div>
      <div>
        <label for="dateOpened">Date opened</label>
        <input type="datetime" id="dateOpened" name="dateOpened" [(ngModel)]="ticket.dateOpened" />
      </div>
      <div>
        <button type="submit"> {{ isEditing ? 'Update' : 'Save' }} </button>
        <button type="button" (click)="cancelForm()">Cancel</button>
      </div>
    </form>
  </div>